body {
    background: url(https://womansbestfitness.files.wordpress.com/2018/05/marble.jpg);
}


header {
    font-family: sans-serif;
    color: gray;
    text-align: center;
}

.container {
    text-align: center;
    align-content: center;
}


#WinLoss {
    float: right;
    width: 300px;
    height: 100px;
    background-color: red;
}

#ComputerScore {

    width: 300px;
    height: 100px;
    background-color: red;
    display: inline-block;
}

#UserScore {
    
    width: 300px;
    height: 100px;
    background-color: red;
    display: inline-block;
}

.buttonRow   {
    display: inline-block;
}

button {
    width: 200px;
    height: 159px;
    background-color: red;
}

#Ruby {
    background: url(https://www.ruby-toolbox.com/assets/startpage/ruby-a2724b6b4ee3eceee994db25840faa812194c4fb0eac6f8b374dcff3e120a303.png);
    width: 200px;
    height: 159px;